<p-toast></p-toast>
<div class="card" style="height: 30px;">
    <h4 style="margin-top: -10px;">Compras de Cacao por Cliente</h4>
</div>
<div class="card">
    <form [formGroup]="registerForm" (ngSubmit)="consultar()">

        <p-table [value]="facturas" [rows]="10" [rowHover]="true" scrollDirection="both" [scrollable]="true"
            scrollHeight="400px" styleClass="mt-3 relative-table" responsiveLayout="scroll" [paginator]="true"
            [ngClass]="{'table-shadow': loadings}">

            <ng-template pTemplate="caption">
                <div class="button-container" style="display: flex; flex-wrap: wrap; align-items: center; gap: 10px;">
                    <div style="display: flex; align-items: center; gap: 5px;">
                        <!-- Campo de entrada reducido -->
                        <span class="p-float-label small-input-container">
                            <input type="text" pInputText formControlName="codigoCliente" class="small-input" />
                            <label for="codigoCliente">ID Cliente</label>
                        </span>
                        <!-- Botón de búsqueda más cerca del campo de entrada -->
                        <button pButton pRipple type="button" icon="pi pi-search" (click)="openClienteModal()"
                            class="p-button-secondary small-button"></button>
                    </div>

                    <span class="p-float-label narrow-datepicker">
                        <p-calendar inputId="fechaDesde" formControlName="fechaDesde" [showIcon]="true"
                            dateFormat="dd/mm/yy" placeholder="Desde" [showButtonBar]="true"></p-calendar>
                        <label for="fechaDesde">Fecha Desde</label>
                    </span>

                    <span class="p-float-label narrow-datepicker">
                        <p-calendar inputId="fechaHasta" formControlName="fechaHasta" [showIcon]="true"
                            dateFormat="dd/mm/yy" placeholder="Hasta" [showButtonBar]="true"></p-calendar>
                        <label for="fechaHasta">Fecha Hasta</label>
                    </span>

                    <button pButton pRipple type="submit" label="Consultar" icon="pi pi-refresh"
                        style="width: 100px;"></button>
                    <button pButton pRipple type="button" label="Limpiar" icon="pi pi-trash" class="p-button-warning"
                        (click)="limpiarControlesPrincipales()"></button>
                    <button pButton pRipple type="button" label="Gráfico" icon="pi pi-chart-line" class="p-button-info"
                        (click)="showModalDialog()"></button>
                </div>
                <h5>{{clienteNombre}}</h5>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Código del Cliente</th>
                    <th>Fecha de compra</th>
                    <th>Quintales</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-factura>
                <tr *ngFor="let detalle of factura.detalles">
                    <td>{{ factura.idCliente }}</td>
                    <td>{{ detalle.fecha | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ detalle.cantQuintales }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No existen registros</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">No existen registros</td>
                </tr>
            </ng-template>
        </p-table>

        <div *ngIf="loadings" class="table-loading-overlays">
            <div class="loading-boxs">
                <p-progressSpinner styleClass="spinner-overlays"></p-progressSpinner>
            </div>
        </div>

        <div class="relative-container" style="position: relative; height: 100px;">
            <span class="p-float-label" style="position: absolute; top: 10px; right: 10px;">
                <input type="text" pInputText [value]="totalLibras" readonly />
                <label for="total">Total de Quintales</label>
            </span>
        </div>
    </form>
</div>


<p-dialog [(visible)]="ModalGrafico" [modal]="true" [closable]="false" [style]="{width: '60vw'}">
    <h3 style="text-align: center;">Gráfico Estadístico De compras de Cacao por Cliente</h3>
    <div class="dialog-header cancel-button">
        <button pButton pRipple type="button" icon="pi pi-times" (click)="closeModalDialog()"
            class="p-button-danger mr-2 mb-2 "></button>
    </div>
    <form [formGroup]="graficoForm">
        <div class="p-fluid">
            <div class="p-d-flex p-ai-center p-jc-between p-field button-container ">
                <div class="p-field p-mr-2">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-search"></i>
                        </span>
                        <span class="p-float-label">
                            <input pInputText type="text" [(ngModel)]="codigoClienteModal"
                                formControlName="codigoClienteModal" style="width: 80px;" />
                            <label for="codigoClienteModal">Código</label>
                        </span>
                    </div>
                </div>
                <div class="p-field p-mr-2">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-calendar"></i>
                        </span>
                        <span class="p-float-label">
                            <p-calendar id="fechaDesde" [(ngModel)]="fechaDesde" dateFormat="dd-mm-yy"
                                formControlName="fechaDesde"></p-calendar>
                            <label for="fechaDesde">Fecha Desde:</label>
                        </span>
                    </div>
                </div>

                <div class="p-field ">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-calendar"></i>
                        </span>
                        <span class="p-float-label">
                            <p-calendar id="fechaHasta" [(ngModel)]="fechaHasta" dateFormat="dd-mm-yy"
                                formControlName="fechaHasta"></p-calendar>
                            <label for="fechaHasta">Fecha Hasta:</label>
                        </span>
                    </div>
                </div>

                <div class="p-field mt-2">
                    <button pButton pRipple label="Generar" icon="pi pi-sync" class=" mr-2 mb-2"
                        (click)="generarGrafico()"></button>
                </div>
                <div class="p-field mt-2">
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-warning mr-2 mb-2"
                        (click)="limpiarControles()"></button>

                </div>

            </div>
            <h5>{{clienteNombre}}</h5>
            <div class="p-field mr-4">
                <div style="width: 100%; height: 490px;">
                    <p-chart type="bar" [data]="graficoData" [options]="graficoOptions"
                        [style]="{'width': '100%', 'height': '100%'}"></p-chart>
                </div>
            </div>
        </div>
    </form>
</p-dialog>



<p-dialog [(visible)]="ClientesModal" [modal]="true" [closable]="false" [style]="{width: '40vw'}">
    <h3 style="text-align: center;">Mis Clientes</h3>
    <div class="dialog-header cancel-button">
        <button pButton pRipple type="button" icon="pi pi-times" (click)="closeClienteModal()"
            class="p-button-danger mr-2 mb-2 "></button>
    </div>

    <p-table #clientesTable [value]="clientes" [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
        [totalRecords]="totalRecords" [rows]="5" [paginator]="true" scrollDirection="both" [scrollable]="true"
        scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">

        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text" placeholder="Nombre o Apellido" class="w-full"
                        (input)="onTermInput($event)" />
                </span>

                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input #searchInputId pInputText type="text" placeholder="Código del Cliente" class="w-full"
                        (input)="onIdInput($event)" [(ngModel)]="searchTerm" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Codigo</th>
                <th>Cliente</th>
                <th>Cédula</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr (click)="onSelectCliente(cliente)" class="table-row-hover">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombres+' '+cliente.apellidos}}</td>
                <td>{{cliente.cedula}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No existen registros</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="8">No existen registros</td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="loading" class="table-loading-overlay">
        <div class="loading-box">
            <p-progressSpinner styleClass="spinner-overlay"></p-progressSpinner>
        </div>
    </div>
</p-dialog>