<p-toast></p-toast>
<div class="card" style="height: 30px;">
    <h4 style="margin-top: -10px;">Administración de Usuarios</h4>
</div>
<div class="card">
    <h4>Usuarios Registrados</h4>
    <p-table [value]="usuarios" responsiveLayout="scroll"
        [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <button pButton pRipple label="Nuevo Usuario" icon="pi pi-plus" class="mr-2 mb-2"
                    (click)="showModalDialog()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Rol</th>
                <th>Nombre de usuario</th>
                <th>Contraseña</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.authorities[0].authority }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.password }}</td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-success mb-2 mr-2"   (click)="showUpdateModal(usuario)"></button>

                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" 
                        (click)="confirmDeleteUsuario(usuario)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No users found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="6">Loading users data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog header="Confirmación" key="confirm" icon="pi pi-exclamation-triangle"
  message="Are you sure you want to proceed?" [style]="{ width: '350px' }" acceptButtonStyleClass="p-button-text"
  rejectButtonStyleClass="p-button-text"></p-confirmDialog>



  <!--Modal para registrar un nuevo usuario-->
  <p-dialog [(visible)]="displayModal" [modal]="true" [closable]="false" [style]="{width: '40vw'}">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h3 style="text-align: center;">Nuevo Usuario</h3>
        <div class="dialog-header cancel-button">
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-danger mr-2 mb-2" (click)="closeModalDialog()"></button>
        </div>
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="nombre"/>
                        <label for="nombre">Nombres</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="apellido"/>
                        <label for="apellido">Apellidos</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-envelope"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="correo"/>
                        <label for="correo">Correo Electronico</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-phone"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="telefono"/>
                        <label for="telefono">Nro. Celular</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="username" autocomplete="off" />
                        <label for="username">Nombre de Usuario</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="{{passwordFieldType}}" id="password" formControlName="password" pInputText autocomplete="new-password" placeholder="Contraseña" />
                        <label for="password">Contraseña</label>
                    </span>
                    <span class="p-inputgroup-addon" style="cursor: pointer;" (click)="togglePasswordVisibility()">
                        <i [ngClass]="passwordFieldType === 'password' ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
                    </span>
                </div>
            </div>

            <div class="col-12 md:col-12">
                <h5>Seleccione el rol del usuario</h5>
                <p-selectButton [options]="roles" optionLabel="name" formControlName="rolFormulario"></p-selectButton>
            </div>
        </div>

        <br />
        <p-footer class="flex justify-content-end">
            <button pButton label="Registrar" icon="pi pi-save" type="submit"></button>
        </p-footer>
    </form>
</p-dialog>


<!--Modal para actualizar un nuevo usuario-->
<p-dialog [(visible)]="displayModalUpdate" [modal]="true" [closable]="false" [style]="{width: '40vw'}">
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <h3 style="text-align: center;">Actualización de Usuario</h3>
        <div class="dialog-header cancel-button">
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-danger mr-2 mb-2" (click)="closeUpdateModal()"></button>
        </div>
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="nombre" />
                        <label for="nombre">Nombres</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="apellido" />
                        <label for="apellido">Apellidos</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-envelope"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="correo" />
                        <label for="correo">Correo Electronico</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-phone"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="telefono" />
                        <label for="telefono">Nro. Celular</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="username" autocomplete="off" />
                        <label for="username">Nombre de Usuario</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="password" pInputText formControlName="password" autocomplete="new-password" />
                        <label for="password">Contraseña</label>
                    </span>
                </div>
            </div>

            <div class="col-12 md:col-12">
                <h5>Seleccione el rol del usuario</h5>
                <p-selectButton [options]="roles" optionLabel="name" formControlName="rolFormulario"></p-selectButton>
            </div>
        </div>

        <br />
        <p-footer class="flex justify-content-end">
            <button pButton label="Actualizar" icon="pi pi-save" type="submit"></button>
        </p-footer>
    </form>
</p-dialog>