<p-toast></p-toast>
<div class="card" style="height: 30px;">
    <h4 style="margin-top: -10px;">Administración de Caja</h4>
</div>

<div class="card">
    <p-table [value]="cajasRegistradas" [rows]="7" [rowHover]="true" scrollDirection="both" [scrollable]="true"
        scrollHeight="400px" responsiveLayout="scroll" [paginator]="true">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <button pButton pRipple label="Abrir Caja" icon="pi pi-plus" class="mr-2 mb-2"
                    (click)="openCajaDialog()"></button>

                <!--Si se desea poner un cuadro de busqueda-->
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center;">Id de Caja</th>
                <th style="text-align: center;">Fecha Apertura</th>
                <th style="text-align: center;">Saldo Inicial</th>
                <th style="text-align: center;">Fecha Cierre</th>
                <th style="text-align: center;">Estado</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-caja>
            <tr>
                <td style="text-align: center;">{{caja.id}}</td>
                <td style="text-align: center;">{{caja.fechaApertura}}</td>
                <td style="text-align: center;">{{caja.saldoInicial | currency:'USD':'code'}}</td>
                <td style="text-align: center;">{{caja.fechaCierre}}</td>
                <td style="text-align: center;">
                    <span [ngClass]="{
                        'status-label': true,
                        'status-abierto': caja.estado === true,
                        'status-cerrado': caja.estado === false
                    }">
                        {{ caja.estado ? 'Abierto' : 'Cerrado' }}
                    </span>
                </td>
                <td style="text-align: center;">
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-success mb-2 mr-2"
                        pTooltip="Nueva Transacción" tooltipPosition="top" (click)="openTransaccionDialog(caja.id)"
                        [disabled]="isNuevaTransaccionButtonDisabled(caja)"></button>

                    <button pButton pRipple type="button" icon="pi pi-info-circle" class="p-button-info mr-2 mb-2"
                        pTooltip="Ver Caja" tooltipPosition="top" (click)="openViewCajaDialog(caja.id)"></button>

                    <!-- Mostrar este botón solo si la caja está cerrada (estado = false) -->
                    <button *ngIf="caja.estado === false" pButton pRipple type="button" icon="pi pi-eye"
                        class="p-button-help mr-2 mb-2" pTooltip="Más detalles" tooltipPosition="top"
                        (click)="openViewDetalleCajaDialog(caja.id)"></button>

                    <!-- Mostrar este botón solo si la caja está abierta (estado = true) -->
                    <button *ngIf="caja.estado === true" pButton pRipple type="button" icon="pi pi-lock"
                        class="p-button-warning mr-2 mb-2" pTooltip="Cerrar Caja" tooltipPosition="top"
                        (click)="openCerrarCaja(caja.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No existen registros</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="8">Loading users data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="openCajaModal" [modal]="true" [closable]="false" [style]="{width: '25vw'}">
    <form [formGroup]="openCajaForm" (ngSubmit)="onSubmitOpenCaja()">
        <h3 style="text-align: center;" class="mt-3">Apertura de Caja</h3>
        <div class="dialog-header cancel-button">
            <button pButton pRipple type="button" icon="pi pi-times" (click)="closeCajaDialog()"
                class="p-button-danger mr-2"></button>
        </div>
        <div class="grid p-fluid">
            <div class="field col-12">
                <div class="p-inputgroup mt-4">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-calendar"></i>
                    </span>
                    <span class="p-float-label">
                        <p-calendar id="fechaApertura" formControlName="fechaApertura" [showIcon]="true"
                            dateFormat="dd/mm/yy" [showTime]="true" [appendTo]="'body'">
                        </p-calendar>
                        <label for="fechaApertura">Fecha de Apertura</label>
                    </span>
                </div>

                <div class="p-inputgroup mt-4">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-dollar"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="saldoInicial" pKeyFilter="money" />
                        <label for="saldoInicial">Saldo Inicial</label>
                    </span>
                </div>
                <div class="p-field mt-1">
                    <div *ngIf="openCajaForm.get('saldoInicial')?.invalid && (openCajaForm.get('saldoInicial')?.dirty || openCajaForm.get('saldoInicial')?.touched)"
                        class="p-error">
                        <small *ngIf="openCajaForm.get('saldoInicial')?.errors?.['pattern']">Solo se permiten números y
                            un punto decimal.</small>
                        <small *ngIf="openCajaForm.get('saldoInicial')?.errors?.['required']">El campo de saldo inicial
                            es obligatorio.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-column" style="height: 100%;">
            <div class="flex justify-content-end mt-auto">
                <button pButton label="Abrir Caja" icon="pi pi-save" type="submit"></button>
            </div>
        </div>
    </form>
</p-dialog>


<!--Para registrar transacciones de ingresos o egresos-->
<p-dialog [(visible)]="openTransaccionModal" [modal]="true" [closable]="false" [style]="{width: '30vw'}">
    <form [formGroup]="openTransaccionForm" (ngSubmit)="onSubmitTransaccion()">
        <h3 style="text-align: center;" class="mt-3">Nueva Transacción en Caja</h3>
        <div class="dialog-header cancel-button">
            <button pButton pRipple type="button" icon="pi pi-times" (click)="closeTransaccionDialog()"
                class="p-button-danger mr-2"></button>
        </div>
        <div class="grid p-fluid">
            <div class="field col-12">

                <div class="p-inputgroup mt-4">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-id-card"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="idCaja" />
                        <label for="idCaja">Id de Caja</label>
                    </span>
                </div>

                <div class="mt-4">
                    <span class="p-float-label">
                        <p-dropdown id="tipoTransaccion" placeholder="Tipo de transacción" [options]="tipoTransaccion"
                            optionLabel="tipo" formControlName="tipoTransaccion" [showClear]="true" [appendTo]="'body'"
                            [ngStyle]="{'width': '100%'}">
                        </p-dropdown>
                        <label for="tipoTransaccion">Tipo de transacción</label>
                    </span>
                </div>

                <div class="p-inputgroup mt-4">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-calendar"></i>
                    </span>
                    <span class="p-float-label">
                        <p-calendar id="fechaHora" formControlName="fechaHora" [showIcon]="true" [showTime]="true"
                            dateFormat="yy-mm-dd" hourFormat="24" [appendTo]="'body'">
                        </p-calendar>
                        <label for="fechaHora">Fecha y Hora</label>
                    </span>
                </div>

                <div class="p-inputgroup mt-4">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-info-circle"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText  formControlName="descripcion" id="descripcion"/>
                        <label for="descripcion">Descripción</label>
                    </span>
                </div>

                <div class="p-inputgroup mt-4">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-dollar"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="monto" pKeyFilter="money" />
                        <label for="monto">Monto</label>
                    </span>
                </div>
                <div class="p-field mt-1">
                    <div *ngIf="openTransaccionForm.get('monto')?.invalid && (openTransaccionForm.get('monto')?.dirty || openTransaccionForm.get('monto')?.touched)"
                        class="p-error">
                        <small *ngIf="openTransaccionForm.get('monto')?.errors?.['pattern']">Solo se permiten números y
                            un punto decimal.</small>
                        <small *ngIf="openTransaccionForm.get('monto')?.errors?.['required']">El campo de monto
                            es obligatorio.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-column" style="height: 100%;">
            <div class="flex justify-content-end mt-auto">
                <button pButton label="Registrar Transacción" icon="pi pi-save" type="submit"></button>
            </div>
        </div>
    </form>
</p-dialog>




<p-dialog [(visible)]="openViewCajaModal" [modal]="true" [closable]="false" [style]="{width: '75vw'}">
    <form>
        <h3 style="text-align: center;" class="mt-3">Detalle de Caja</h3>
        <div class="dialog-header cancel-button">
            <button pButton pRipple type="button" icon="pi pi-times" (click)="closeViewCajaDialog()"
                class="p-button-danger mr-2"></button>
        </div>

        <!-- Contenedor de dos columnas -->
        <div class="grid">
            <div class="col-12 xl:col-6">
                <div class="card">
                    <h5>Ingresos</h5>
                    <p-table [value]="ingresos" [rows]="7" [rowHover]="true" styleClass="p-datatable-gridlines"
                        [paginator]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Descripción</th>
                                <th style="width: 10px;">Hora</th>
                                <th style="width: 95px;">Monto</th>
                                <th style="width: 5px;">Acción</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-transaccion>
                            <tr>
                                <td>{{ transaccion.descripcion }}</td>
                                <td style="width: 10px;">{{ formatHora(transaccion.hora) }}</td>
                                <td style="width: 95px;">$ {{ transaccion.monto | number:'1.2-2' }}</td>
                                <td style="width: 5px; padding: 0; margin: 0; text-align: center;">
                                    <button pButton pRipple type="button" icon="pi pi-trash"
                                        class="p-button-danger p-button-text mr-2 mb-2"
                                        [disabled]="isEliminarTransaccionButtonDisabled(transaccion, idCaja)"
                                        (click)="confirmDeleteTransaccion(transaccion, idCaja)"></button>

                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4">No existen registros</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="4">Loading data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="field" style="text-align: right; margin-top: 1rem;">
                        <div class="p-inputgroup" style="width: auto; display: inline-flex;">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-dollar"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" pInputText [value]="totalIngresos | currency" disabled />
                                <label>Total Ingresos</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 xl:col-6">
                <div class="card">
                    <h5>Egresos</h5>
                    <p-table [value]="egresos" [rows]="7" [rowHover]="true" styleClass="p-datatable-gridlines"
                        [paginator]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Descripción</th>
                                <th style="width: 10px;">Hora</th>
                                <th style="width: 85px;">Monto</th>
                                <th style="width: 5px;">Acción</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-transaccion>
                            <tr>
                                <td>{{ transaccion.descripcion }}</td>
                                <td style="width: 10px;">{{ formatHora(transaccion.hora) }}</td>
                                <td style="width: 85px;">$ {{ transaccion.monto | number:'1.2-2' }}</td>
                                <td style="width: 5px; padding: 0; margin: 0; text-align: center;">
                                    <button pButton pRipple type="button" icon="pi pi-trash"
                                        class="p-button-danger p-button-text mr-2 mb-2"
                                        [disabled]="isEliminarTransaccionButtonDisabled(transaccion, idCaja)"
                                        (click)="confirmDeleteTransaccion(transaccion, idCaja)"></button>

                                </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4">No existen registros</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="4">Loading data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="field" style="text-align: right; margin-top: 1rem;">
                        <div class="p-inputgroup" style="width: auto; display: inline-flex;">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-dollar"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" pInputText [value]="totalEgresos | currency" disabled />
                                <label>Total Egresos</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
</p-dialog>

<!--para el dialog de confirmacion-->
<p-confirmDialog header="Confirmación" key="confirm" icon="pi pi-exclamation-triangle"
    message="Are you sure you want to proceed?" [style]="{ width: '350px' }" acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>



<!--Cerrar caja-->
<p-dialog [(visible)]="closeCajaModal" [modal]="true" [closable]="false" [style]="{width: '25vw'}">
    <form [formGroup]="closeCajaForm" (ngSubmit)="onSubmitcloseCaja()">
        <h3 style="text-align: center;" class="mt-3">Cierre de Caja</h3>
        <div class="dialog-header cancel-button">
            <button pButton pRipple type="button" icon="pi pi-times" (click)="closeCerrarCaja()"
                class="p-button-danger mr-2"></button>
        </div>
        <div class="grid p-fluid">
            <div class="field col-12">

                <div class="p-inputgroup mt-4">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-id-card"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="idCaja" />
                        <label for="idCaja">Id de Caja</label>
                    </span>
                </div>
                <div class="p-inputgroup mt-4">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-calendar"></i>
                    </span>
                    <span class="p-float-label">
                        <p-calendar id="fechaCierre" formControlName="fechaCierre" [showIcon]="true"
                            dateFormat="dd/mm/yy" [showTime]="true" [appendTo]="'body'">
                        </p-calendar>
                        <label for="fechaCierre">Fecha de Cierre</label>
                    </span>
                </div>

                <div class="p-inputgroup mt-4">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-dollar"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="efectivoCaja" pKeyFilter="money" />
                        <label for="efectivoCaja">Total de Dinero en Caja</label>
                    </span>
                </div>
                <small class="p-text-secondary">Deberá ingresar el total de dinero contado en caja física.</small>
                <div class="p-field mt-1">
                    <div *ngIf="closeCajaForm.get('efectivoCaja')?.invalid && (closeCajaForm.get('efectivoCaja')?.dirty || closeCajaForm.get('efectivoCaja')?.touched)"
                        class="p-error">
                        <small *ngIf="closeCajaForm.get('efectivoCaja')?.errors?.['pattern']">Solo se permiten números y
                            un punto decimal.</small>
                        <small *ngIf="closeCajaForm.get('efectivoCaja')?.errors?.['required']">El campo de saldo inicial
                            es obligatorio.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-column" style="height: 100%;">
            <div class="flex justify-content-end mt-auto">
                <button pButton label="Cerrar Caja" icon="pi pi-save" type="submit"></button>
            </div>
        </div>
    </form>
</p-dialog>




<!--Ver detalle de la caja cerrada-->

<p-dialog [(visible)]="openDetalleCajaModal" [closable]="false" [modal]="true" [style]="{width: '40vw'}">
    <form>
        <div class="p-fluid grid">
            <div class="field col-12">
                <h3 style="text-align: center;" class="mt-1">Detalle de Caja</h3>
            </div>
            <!-- Encabezado del diálogo con botón de cerrar -->
            <div class="dialog-header cancel-button field col-12 text-right">
                <button pButton pRipple type="button" icon="pi pi-times" (click)="closeViewDetalleCajaDialog()"
                    class="p-button-danger"></button>
            </div>

            <!-- Fechas y otros detalles -->
            <div class="field col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-id-card"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText [value]="cajaDetalle?.id" readonly />
                        <label for="id">ID Caja</label>
                    </span>
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-calendar"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText [value]="cajaDetalle?.fechaApertura | date:'dd-MM-yyyy HH:mm'"
                            readonly />
                        <label for="fechaApertura">Fecha Apertura</label>
                    </span>
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-calendar-times"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText [value]="cajaDetalle?.fechaCierre | date:'dd-MM-yyyy HH:mm'"
                            readonly />
                        <label for="fechaCierre">Fecha Cierre</label>
                    </span>
                </div>
            </div>

            <!-- Resumen Financiero -->
            <div class="field col-12">
                <h3>Resumen Financiero</h3>
            </div>
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-dollar"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText
                            [value]="cajaDetalle?.saldoInicial | currency:'USD':'symbol':'1.2-2'" readonly />
                        <label for="saldoInicial">Saldo Inicial</label>
                    </span>
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-dollar"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText
                            [value]="cajaDetalle?.totalIngreso | currency:'USD':'symbol':'1.2-2'" readonly />
                        <label for="totalIngreso">Total Ingresos</label>
                    </span>
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-dollar"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText
                            [value]="cajaDetalle?.totalEgresos | currency:'USD':'symbol':'1.2-2'" readonly />
                        <label for="totalEgresos">Total Egresos</label>
                    </span>
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-dollar"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText
                            [value]="cajaDetalle?.saldoFinal | currency:'USD':'symbol':'1.2-2'" readonly />
                        <label for="saldoFinal">Saldo Final</label>
                    </span>
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-wallet"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText
                            [value]="cajaDetalle?.efectivoCaja | currency:'USD':'symbol':'1.2-2'" readonly />
                        <label for="efectivoCaja">Efectivo en Caja</label>
                    </span>
                </div>
            </div>

            <!-- Discrepancia -->
            <div class="field col-12">
                <h3>Discrepancia</h3>
            </div>
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-exclamation-triangle"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText
                            [value]="cajaDetalle?.discrepancia | currency:'USD':'symbol':'1.2-2'" readonly />
                        <label for="discrepancia">Discrepancia</label>
                    </span>
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-check"></i>
                    </span>
                    <span class="p-float-label">
                        <input type="text" pInputText [value]="cajaDetalle?.tipoDiscrepancia" readonly />
                        <label for="tipoDiscrepancia">Tipo de Discrepancia</label>
                    </span>
                </div>
            </div>
        </div>
    </form>
</p-dialog>