<p-toast key="tst" [baseZIndex]="99999"></p-toast>
<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="width: 100%; max-width: 950px;">
        <div class="col-12 text-center">
            <img src="assets/layout/images/logouno.png" alt="Sakai logo" class="mb-3" style="width:250px; height:auto;">
        </div>
        <div class="col-12 xl:col-6"
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-4 px-3"
                style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-4">
                    <img src="assets/demo/images/login/iniciosesion.png" alt="Image" height="60" class="mb-2">
                    <div class="text-900 text-2xl font-medium mb-2">Bienvenido!!</div>
                    <span class="text-600 font-medium">Inicie sesión para continuar</span>
                </div>

                <div class="w-full mx-auto">
                    <label for="username" class="block text-900 text-lg font-medium mb-1">Nombre de Usuario</label>
                    <input id="username" name="username" [(ngModel)]="loginData.username" type="text" placeholder="Nombre de Usuario" pInputText class="w-full mb-2"
                        style="padding:0.75rem;">

                    <label for="password" class="block text-900 font-medium text-lg mb-1">Contraseña</label>
                    <div class="password-wrapper">
                        <input id="password" name="password" [(ngModel)]="loginData.password" [type]="passwordFieldType" 
                               placeholder="Contraseña" class="w-full p-inputtext p-component" style="padding-right: 2.5rem; padding: 0.75rem;">
                        <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                            <i [ngClass]="passwordFieldType === 'password' ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
                        </button>
                    </div>

                    <div class="flex align-items-center justify-content-between mb-4">
                        <div class="flex align-items-center"></div>
                    </div>
                    <button pButton pRipple label="Ingresar" (click)="login()" class="w-full p-2 text-lg"></button>
                </div>
            </div>
        </div>
    </div>
</div>
